[Unit]
Description=DoorCheckerClientScrip

[Service]
ExecStart=/usr/bin/python3 /home/pi/Development/Door_Checker/client.py

[Install]
WantedBy=multi-user.target
